<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ele.mapper.RewardMapper">



    <!--查找商家所有的评论-->
    <resultMap id="shopReward" type="com.ele.pojo.ShopReward">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="avatar" column="avatar"/>
        <result property="rewardMsg" column="reward_msg"/>
        <result property="shopId" column="shop_id"/>
        <result property="orderId" column="order_id"/>
        <result property="rewardType" column="reward_type"/>
        <result property="grade" column="grade"/>

        <collection property="foodList" column="order_id" select="findOrderFoodByOrderId"/>
    </resultMap>

    <!--根据OrderID查找OrderFoodList-->
    <select id="findOrderFoodByOrderId" parameterType="int" resultType="com.ele.pojo.OrderFood">
        select * from order_food_list where order_id = #{order_id}
    </select>

    <!--根据商家ID查找评论-->
    <select id="findShopRewardByShopId" parameterType="int" resultMap="shopReward">
        select id,user_id,username,avatar,reward_msg,shop_id,order_id,reward_type,grade
        from shop_reward
        where shop_id = #{shop_id}
    </select>

    <!--添加商家评论-->
    <insert id="insertShopReward" parameterType="com.ele.pojo.ShopReward">
        insert into
        shop_reward(user_id,username,avatar,reward_msg,shop_id,order_id,reward_type,grade,reward_time)
        values(#{userId},#{username},#{avatar},#{rewardMsg},#{shopId},#{orderId},#{rewardType},#{grade},#{rewardTime})
    </insert>

    <!--添加商品评论-->
    <insert id="insertFoodReward" parameterType="java.util.List">
        insert into
        food_reward(shop_food_id,shop_id,user_id,username,avatar,reward_msg,order_id,reward_time,reward_type,grade)
        values
        <foreach collection="list" item="reward" index="index" separator=",">
            (
              #{reward.shopFoodId},
              #{reward.shopId},
              #{reward.userId},
              #{reward.username},
              #{reward.avatar},
              #{reward.rewardMsg},
              #{reward.orderId},
              #{reward.rewardTime},
              #{reward.rewardType},
              #{reward.grade}
            )
        </foreach>

    </insert>

    <!--添加评论图片-->
    <insert id="insertOrderImg" parameterType="com.ele.pojo.OrderImg">
        insert into order_img(order_id,order_img)
        values(#{orderId},#{orderImg})
    </insert>

</mapper>