<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ele.mapper.ShopManagerMapper">
    <!--商家登陆-->
    <select id="shopLogin" parameterType="string" resultType="com.ele.pojo.ShopManager">
    SELECT * FROM shop_manager WHERE phone_num = #{phoneNum} AND password = #{password}
    </select>

    <!--商家注册-->
    <insert id="insertShop" parameterType="com.ele.pojo.ShopManager" useGeneratedKeys="true" keyProperty="shop_id" >
        insert into shop_manager (phone_num,password)
        values(#{phoneNum},#{password})
    </insert>

    <!--增加Menu种类-->
    <insert id="insertMenuType" parameterType="com.ele.pojo.MenuType">
        INSERT INTO menu_type(menu_name,menu_img)
        VALUES (#{menuName},#{menuImg})
    </insert>
    <!--修改菜单-->
    <update id="updateMenuType" parameterType="com.ele.pojo.MenuType">
        UPDATE menu_type SET menu_name = #{menuName} , menu_img = #{menuImg}
        WHERE menu_type_id = #{menuTypeId}
    </update>
    <!--删除菜单种类-->
    <select id="deleteMenuType" parameterType="int" resultType="com.ele.pojo.MenuType">
    DELETE FROM menu_type WHERE  menu_type_id = #{menuTypeId}
    </select>

    <!--查询商家今日销售额-->
    <select id="selectNowDaysSalesAmount" parameterType="int" resultType="int">
        SELECT sum(`order`.sum_money) FROM `order`
        WHERE TO_DAYS(generate_time) = TO_DAYS(NOW())
        and shop_id = #{shopId}
    </select>

    <!--查询商家本月销售额-->
    <select id="selectNowMonthySalesAmount" parameterType="int" resultType="int">
        SELECT sum(`order`.sum_money) FROM `order` where
        DATE_FORMAT(generate_time, '%Y%m') = DATE_FORMAT(CURDATE(), '%Y%m')
        and shop_id = #{shopId}
    </select>

    <!--查询商家本年度销售额-->
    <select id="selectNowYearSalesAmount" parameterType="int" resultType="int">
        SELECT sum(`order`.sum_money) FROM `order`
        where YEAR(generate_time)=YEAR(NOW())
        and shop_id = #{shopId}
    </select>

</mapper>