<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ele.mapper.ShopMapper">
    <select id="findById" parameterType="int" resultType="com.ele.pojo.Shop">
        select * from shop where id = #{id}
    </select>

    <select id="findDiscountDescById" parameterType="int" resultType="com.ele.dto.DtoDiscountDesc">
        select shop_discount.id id,shop_discount_desc.shop_discount_desc discountDesc
        from shop_discount,shop_discount_desc
        where shop_discount.id = shop_discount_desc.shop_discount_id
        and shop_discount_desc.shop_id = #{id};

    </select>

    <select id="findShopImgById" parameterType="int" resultType="com.ele.pojo.ShopImg">
        select img.shop_id,img.shop_img from shop_img img where img.shop_id = #{id};
    </select>


    <!--构建goodsList-->
    <resultMap id="goodsList" type="com.ele.dto.Goods">
        <id property="type" column="iconId"/>
        <result property="name" column="name"/>

        <collection property="foodList" column="id" select="findFoodByFoodId" />
    </resultMap>

    <!--构建ShopFood-->
    <resultMap id="shopFood" type="com.ele.pojo.ShopFood">
        <id property="id" column="id"/>
        <result property="foodName" column="food_name"/>
        <result property="shopFoodType" column="shop_food_type"/>
        <result property="shopId" column="shop_id"/>
        <result property="price" column="price"/>
        <result property="oldPrice" column="old_price"/>
        <result property="monthlyCounts" column="monthly_counts"/>
        <result property="foodImg" column="food_img"/>
        <result property="info" column="info"/>
        <result property="description" column="description"/>
        <result property="grade" column="grade"/>

        <collection property="foodRewardList" column="id" select="findFoodRewardByFoodId"/>
    </resultMap>


    <select id="findFoodRewardByFoodId" parameterType="int" resultType="com.ele.pojo.FoodReward">
        select id,shop_food_id,shop_id,user_id,username,avatar,reward_msg,order_id,reward_time,reward_type,grade
        from food_reward
        where shop_food_id = #{id}
    </select>

    <select id="findFoodByFoodId" parameterType="int" resultMap="shopFood">
        select id,food_name,shop_food_type,shop_id,price,old_price,monthly_counts,food_img,info,description,grade
        from shop_food
        where id = #{id}
    </select>

    <select id="findShopGoodsById" parameterType="int" resultMap="goodsList">
        select food_type_id id,shop_food_type name,icon_id iconId from food_type where shop_id = #{id}
    </select>

    <!--首页信息>>>商家基本信息-->
    <resultMap id="shopBasic" type="com.ele.pojo.Shop">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="avatar" column="avatar"/>
        <result property="gradeCook" column="grade_cook"/>
        <result property="gradeServer" column="grade_server"/>
        <result property="monthlyCounts" column="monthly_counts"/>
        <result property="introduce" column="introduce"/>
        <result property="deliveryTime" column="delivery_time"/>
        <result property="specialMsg" column="special_msg"/>
        <result property="contact" column="contact"/>
        <result property="address" column="address"/>
        <result property="openTime" column="open_time"/>
        <result property="reportCount" column="report_count"/>
        <result property="distance" column="distance"/>
        <result property="minPrice" column="min_price"/>
        <result property="likeCount" column="like_count"/>
        <result property="deliveryMoney" column="delivery_money"/>
        <result property="ranke" column="ranke"/>

        <collection property="discountDescList" column="id" select="findDiscountDescById"/>
    </resultMap>


    <select id="findBasicShopMsgOrderByServer" resultMap="shopBasic">
        select id,name,avatar,grade_cook,grade_server,monthly_counts,introduce,delivery_time,special_msg,contact,address,open_time,report_count,distance,min_price,like_count,delivery_money,ranke
        from shop order by grade_server desc limit 10;
    </select>



    <sql id="food_column">
        id,food_name,shop_food_type,shop_id,price,old_price,monthly_counts,food_img,info,description,grade
    </sql>


    <!--搜索商家-->
    <select id="findShopByLikeName" parameterType="string" resultType="com.ele.pojo.Shop">
        select * from shop where shop.`name` like concat('%',#{searchValue},'%')
    </select>

    <!--搜索食物-->
    <select id="findFoodByLikeName" parameterType="string" resultType="com.ele.pojo.ShopFood">
        select * from shop_food where food_name like concat('%',#{searchValue},'%')
    </select>

    <!--获取商家被收藏数量-->
    <select id="getShopCollectCount" parameterType="int" resultType="int">
        select count(*) from `like` where shop_id = #{shopId}
    </select>
</mapper>